/* Contenedor principal */
.containerSocialSkills {
    width: 100%;
    height: auto;
    background: linear-gradient(#DDEAF2, #A3C9E3);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Estilo del título */
.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
}

/* Lista de habilidades */
.skillsList {
    list-style: none;
    padding: 0;
    width: 90%;
    max-width: 600px;
}

.skillsList li {
    background: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    transition: transform 0.2s ease-in-out;
}

.skillsList li:hover {
    transform: scale(1.05); /*Tamaño de agrndar cada contenedor*/
}

/* Responsive */
@media (max-width: 768px) {
    .containerSocialSkills{
        width: 93%;
        height: 900px;
    }

}
@media (max-width: 804px) {
    .containerSocialSkills{
        width: 95%;
        height: 900px;
    }
}
@media (max-width: 1164px) {
    .containerSocialSkills{
        width: 96%;
        height: 870px;
    }
}
@media (max-width: 1320px) {
    .containerSocialSkills{
        width: 90%;
        height: 700px;
    }
}
@media (max-width: 1416px) {
    .containerSocialSkills{
        width: 96%;
        height: 900px;
    }
}
@media (max-width: 1832px) {
    .containerSocialSkills{
        width: 96%;
        height: 880px;
    }
}
@media (max-width: 2150px) {
    .containerSocialSkills{
        width: 97%;
        height: 880px;
    }
}